.SendMessage {
    padding: 12px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--base-border-radius);
    position: relative;
    overflow: hidden;
}

.SendMessage_disable {
    filter: blur(3px);
}

.SendMessage__Input {
    flex: 1;
    margin: 0 7px;
}

.SendMessage__Send {
    margin-left: 5px;
    padding: 0;
}

.SendMessage_reply {
    margin-bottom: 15px;
}

.SendMessage__Disable {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: not-allowed;
}