.Card {
    box-shadow: var(--base-box-shadow);
    border-radius: var(--rdw-base-border-radius);
    padding: var(--rdw-base-padding);
    background: white;
    font-family: var(--rdw-base-font-family);
}